venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
.idea/
.vscode/
logs/
logs/**/
.env
dist/
build/
*.egg-info/
*.egg
.pytest_cache/
.coverage
htmlcov/
actions-runner/
src/mcp_client/cd
dac-venv/